.cards{
    display: grid;
    width: 100%;
    gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    .card{
      
        &:hover h3{
            color: #F6214B;
        }
        &:hover button{
            background-color: #F6214B;
        }
        &:hover img{
            transform: scale(1.2);
        }
        
        .image{
            overflow: hidden;
           
        }
img{
transition: 1s;


}
.cardtext{
    width: 300px;

button{
   
color: white;
background-color: black;
padding:10px 15px;
border: none;
margin-top: 5%;
margin-right: 25%;
}
h3{
    margin-top: 3%;
}
p{
    margin-top: 3%;
}
}
    }
}

.search{
margin-bottom: 3%;

height: 30px;
padding: 10px;
}